mixin subscription-text-field()
    .subscription-text-field__wrapper
        form
            input(
                type='email'
                class=`subscription-text-field__input`
                placeholder='Email'
            )
            i.material-icons.subscription-text-field__arrow arrow_forward
