@import "src/styles/_variables";
@import "src/styles/_base";

@import "src/blocks/header/header";
@import "src/blocks/footer/footer";
@import '../../blocks/login-card/login-card';

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 702px;
  background: url('../../assets/login.png') no-repeat center center;
  background-size: cover;
}
