.details-list {
  width: 100%;
  list-style-type: none;
  padding-bottom: 10px;

  &__item {
    display:grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 17px;
    &:not(:last-child) {
      &::after {
        content:' ';
        display:block;
        border-bottom:1px solid $c-primary-ten;
        grid-column: 1 / 3;
        padding-top: 10px;
      }
    }
  }
  &__icon {
    font-size: 44px;
    line-height: normal;
    background: $brand-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    padding-bottom: 8px;
  }
  &__title {
    grid-row: 1;
    grid-column: 2;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
  }
  &__text {
    @include body-text;
    grid-row: 2/3;
    grid-column: 2/3;
    line-height: 17px;
  }
}
