mixin slider({label='range slider', caption='', range=''} = {})
    .slider
        p.slider__label= label
            if range
                span.slider__range= range
        .slider.js-slider
        if caption
            .slider__caption=caption
