.button {
  --horizontal-padding: 18px;
  display: flex;
  align-items: center;
  min-height: 34px;
  border-radius: 22px;
  @include label-font;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  color: white;
  padding: 0 var(--horizontal-padding);
  cursor: pointer;
  background: $brand-gradient;
  border: 2px solid transparent;
  &.button_hovered,
  &:hover,
  &:active {
    opacity: 0.5;
    outline: none;
  }
  &:focus {
    box-shadow: 0 0 0 5px $c-primary-medium;
    outline: none;
  }
  &_default {
    background: $brand-gradient;
    border-color: transparent;
    & .button_fe {
      --horizontal-padding: 17px;
    }
  }
  &_outlined {
    color: $c-brand;
    background-image: $brand-gradient;
    background-origin: border-box;
    box-shadow: 3px 1000px 1px #fff inset;
    & .button_fe {
      --horizontal-padding: 17px;
    }
    &.button_hovered,
    &:hover,
    &:active {
      background-image: $brand-gradient;
      color: $c-brand;
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset;;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset;;
    }
  }
  &_text {
    background: none;
    color: $c-brand;
    padding: 0;
    border: none;
    min-height: initial;
    width: fit-content;
    border-radius: 0;
    &.button_hovered,
    &:hover,
    &:active {
      color: rgba(31, 32, 65, 0.5);
    }
    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }
  }
  &_gray {
    color: rgba(31, 32, 65, 0.5);
  }
  &_wide {
    width: 100%;
    position: relative;
    justify-content: center;
    border: 2px solid transparent;
  }
  &_high {
    padding-top: 12px;
    padding-bottom: 13px;
  }
  &__arrow {
    font-family: "Material Icons", sans-serif;
    color: white;
    position: absolute;
    right: 12px;
    text-transform: none;
    line-height: 43px;
    font-size: 1.714rem;
    right: 7px;
    line-height: 37px;
  }
}
