mixin button({ text = '', type = 'contained' })
    button(class=`button button_${type} ${attributes.class}`)
        =text
        if type === 'wide'
            i.material-icons.button__arrow arrow_forward
