mixin button({ text = '', type = 'contained' })
    attrs.class
    button(class=`button button_${type}`)
        =text
        if type === 'wide'
            i.material-icons.button__arrow arrow_forward
