mixin button({ text = '', type = 'contained' })
    - const typeClass = type==='contained'? '': type
    button(class=`button button_${typeClass}`)
        =text
        if type === 'wide'
            i.material-icons.button__arrow arrow_forward
