.button {
  background: $brand-gradient;
  border-radius: 22px;
  @include label-font;
  color: white;
  padding: 14px 20px;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer;
  &:hover,
  &:active {
    opacity: 0.5;
  }
  &:focus {
    box-shadow: 0 0 0 5px $c-primary-medium;
  }
  &_outlined {
    color: $c-brand;
    border: 2px solid transparent;
    background-image: $brand-gradient;
    background-origin: border-box;
    box-shadow: 3px 1000px 1px #fff inset;
    &:hover,
    &:active {
      background-image: $brand-gradient;
      color: $c-brand;
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset;;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset;;
    }
  }
  &_text {
    background: none;
    color: $c-brand;
    &:hover,
    &:active {
      color: rgba(31, 32, 65, 0.5);
    }
    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }
  }
  &_wide {
    width: 100%;
    max-width: 320px;
    position: relative;
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: 12px;
    text-transform: none;
    line-height: 43px;
    font-size: 1.714rem;
  }
}
