mixin text-field(options)
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''
    input(
        type='text'
        class=`text-field${layoutClass}`
        placeholder=options.placeholder
        )

