.text-field {

  &__label {
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
    @include label-font;
  }
  &__label-status {
    font-weight: normal;
    grid-column: 2 /3;
    align-self: end;
  }
  &__input {
    color: $c-primary-dark;
    grid-row: 2/3;
    grid-column: 1 / 3;
    @include input-base;
    width: 100%;
  }
}
