@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/opensans-regular-webfont.woff2) format("woff2"), url(fonts/opensans-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/opensans-bold-webfont.woff2) format("woff2"), url(fonts/opensans-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(fonts/MaterialIcons-Regular.woff2) format("woff2"), url(fonts/MaterialIcons-Regular.woff) format("woff"); }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  color: #575870;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.title {
  font-family: Quicksand, sans-serif;
  font-size: 1.7142857142857142rem;
  font-weight: bold;
  line-height: 1.2; }

.subtitle {
  font-family: Quicksand, sans-serif;
  font-size: 19px;
  font-weight: bold; }

.label-text {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: bold; }

.material-icons {
  font-family: "Material Icons", sans-serif;
  font-style: normal; }

.button {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 14px 20px;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer; }
  .button:hover, .button:active {
    opacity: 0.5; }
  .button_outlined {
    color: #bc9cff;
    border: 2px solid transparent;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    box-shadow: 3px 1000px 1px #fff inset; }
    .button_outlined:hover, .button_outlined:active {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      color: #bc9cff;
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset; }
    .button_outlined:focus {
      box-shadow: 0 0 0 2px rgba(188, 156, 255, 0.3), 3px 1000px 1px #fff inset; }
  .button_text {
    background: none;
    color: #bc9cff; }
    .button_text:hover, .button_text:active {
      color: rgba(31, 32, 65, 0.5); }
    .button_text:focus {
      box-shadow: none;
      text-decoration: underline; }
  .button_wide {
    width: 100%;
    max-width: 320px;
    position: relative; }
  .button__arrow {
    position: absolute;
    top: 0;
    right: 12px;
    text-transform: none;
    line-height: 43px;
    font-size: 1.714rem; }

