@import "src/styles/_variables";
@import "src/styles/_base";

@import "src/blocks/header/header";
@import "src/blocks/footer/footer";
@import "src/blocks/booking-card/booking-card";
@import "src/blocks/details-list/details-list";
@import "src/blocks/bullet-list/bullet-list";
@import "src/blocks/like-button/like-button";
@import "src/blocks/review/review";
@import "src/blocks/chart/chart";

.room-details {
  &__images {
    display: grid;
    grid-template-columns: 1fr 2.137fr;
    grid-template-rows: 1fr 1fr;
  }
  &__large-image {
    grid-row: 1/3;
  }
  &__data {
    padding: 70px 170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "info ratings booking"
                          "reviews reviews booking"
                          "rules cancellation .";
    column-gap: 70px;
  }
  &__info {
    grid-area: info;
  }
  &__info-heading {
    @include subtitle-font;
    margin-bottom: 20px;
  }
  &__ratings {
    grid-area: ratings;
  }
  &__ratings-heading {
    @include subtitle-font;
    margin-bottom: 10px;
  }
  &__reviews {
    grid-area: reviews;
  }
  &__reviews-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include subtitle-font;
    margin-bottom: 20px;
  }
  &__reviews-count {
    @include body-text;
  }
  &__rules {
    grid-area: rules;
  }
  &__rules-heading {
    @include subtitle-font;
    margin-bottom: 20px;
  }
  &__cancellation {
    grid-area: cancellation;
  }
  &__cancellation-heading {
    @include subtitle-font;
    margin-bottom: 20px;
  }
  &__cancellation-text {
    @include body-text;
  }
  &__booking {
    grid-area: booking;
  }
}

