@import "src/blocks/button/button";
@import "src/blocks/field-header/field-header";
@import "src/blocks/date-filter/date-filter";
@import "src/blocks/dropdown/dropdown";
.booking-card {
  @include card-base;
  padding-top: 36px;
  border: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  &__room-info-row {
  @include flex-row;
    margin-bottom: 13px;
  }
  &__charges-row {
    @include body-text;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__total-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__room-no {
    font-family: Quicksand, "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: $c-primary-dark;
  }
  &__room-no-span {
    padding-left: 4px;
    padding-right: 5px;
    font-size: 24px;
    line-height: 30px;
  }
  &__room-type {
    @include label-font;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: $c-brand;
  }
  &__room-price {
    line-height: 18px;
    color: $c-primary-medium;
  }
  &__room-price-amount {
    font-size: 14px;
    font-weight: bold;
    padding-right: 4px;
    line-height: 20px;
  }
  &__room-price-period {
    font-size: 12px;
  }
  &__guests-dropdown {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  &__charges-row {
    margin-bottom: 10px;
    color: $c-primary-dark;
    display: grid;
    grid-template-columns: 215px 1fr 80px;
  }
  &__charge-calculation {
    line-height: 21px;
    max-width: 214px;
  }
  &__info-link {
    border: 1px solid $c-primary-light;
    border-radius: 50%;
    justify-self: center;
    margin-left: 6px;
    padding-left: 7px;
    padding-right: 7px;
  }
  &__charge-amount {
    justify-self: end;
  }
  &__total-row {
    font-family: Quicksand, "Open Sans", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 26px;
  }
  &__button {
    margin-top: 20px;
  }
}
