@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox {
    @include checkbox-base;
    align-items: flex-start;
    margin-bottom: 10px;
    &__label {
      @include body-text;
      text-transform: initial;
      line-height: 20px;
      margin-left: 10px;
      //max-width: 200px;
      &_rich {
        padding-top: 0;
        margin-left: 3px;
      }
    }
    &__header {
      font-weight: bold;
      margin-top: 2px;
    }
    &__subheader {
      font-size: 12px;
      line-height: 17px;
    }
    &__input {
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      &_rich {
        width: 22px;
        margin-top: 0;
        margin-right: 8px;
        display: initial;;
      }
      &:after {
        transition: opacity .2s;
      }
      &:checked {
        &:after {
          font-family: "Material Icons", sans-serif;
          content: "check";
          font-size: 17px;
          font-weight: bold;
          background: $brand-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

