
.date-filter {
  --calendar-max-width: 320px;
  &__container {
    position: relative;
    @include flex-row;
    width: 100%;
    margin-bottom: 22px;
  }
  &__label {
    width: 100%;
    @include label-font;
    position:relative;
    &::after {
      content: "keyboard_arrow_down";
      font-family: "Material Icons", sans-serif;
      font-size: 24px;
      font-weight: normal;
      text-transform: none;
      position: absolute;
      top: calc(50% + 3px);
      right: 12px;
      color: $c-primary-medium;
    }
    &_range {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__input {
    display: flex;
    justify-content: space-between;
    @include input-base;
    width: 100%;
    margin-top: 7px;
    @include body-text;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  &__arrow {
    flex: 0 0 1rem;
    font-size:24px;
  }
  &__buttons {
    @include flex-row;
    margin-top: 20px;
  }
}
