mixin date-filter()
    .date-filter__container.js-dates
        label.date-filter__label прибытие
            input(class='date-filter__input js-start' type='text' placeholder='дд.мм.ггг')
        label.date-filter__label выезд
            input(class='date-filter__input js-end' type='text' placeholder='дд.мм.ггг')
