//@import "./variables";

* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$root-font-size: 14px;

html,
body {
    color: $c-primary-dark;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: $root-font-size;
    line-height: 24px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


// typography
$title-font-size: 1.7142857142857142rem;
$subtitle-font-size: 19px;
$label-font-size: 12px;

@mixin title-font {
    font-family: Quicksand, sans-serif;
    font-size: $title-font-size;
    font-weight: bold;
    color: $c-primary-darker;
}
@mixin subtitle-font {
    font-family: Quicksand, sans-serif;
    font-size: $subtitle-font-size;
    font-weight: bold;
    color: $c-primary-darker;
}
@mixin label-font {
    font-family: Montserrat, sans-serif;
    font-size: $label-font-size;
    font-weight: bold;
    color: $c-primary-darker;
    text-transform: uppercase;
}
@mixin body-text {
    color: $c-primary-dark;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: $root-font-size;
    line-height: 24px;
}
.title {
    font-family: Quicksand, sans-serif;
    font-size: 1.7142857142857142rem;
    font-weight: bold;
    line-height: 1.2;
}
.subtitle {
    font-family: Quicksand, sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.label-text {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.material-icons {
    font-family: "Material Icons", sans-serif;
    font-style: normal;
}
@mixin input-base {
    border: 1px solid $c-primary-light;
    border-radius: 4px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 44px;
    color: $c-primary-dark;
    text-overflow: ellipsis;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    &::placeholder {
        color: $c-primary-light;
    }
    &:hover, &:focus {
        border-color: $c-primary-medium;
        border-width: 1px;
        outline: none;
        &::placeholder {
            color: $c-primary-dark;
        }
    }
    &:active {
        border-color: $c-primary-medium;
        border-width: 1px;
    }
}
@mixin checkbox-base {
    display: flex;
    align-items: center;
    &__input {
        border-radius: 4px;
        border: 1px solid $c-primary-light;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            background: $c-primary-light;
            transition: background-color 0.3ms ease;
        }
        &:active,
        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px $c-brand-alpha;
            transition: box-shadow 0.4ms ease;
        }
        &:checked {
            border-color: $c-brand;
            &::after {
                background: $brand-gradient;
            }
        }
    }
}

@mixin card-base {
    max-width: 380px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
