// colors

$c-primary-darker: #1F2041; //hsl(238,35,18)rgb(31,32,65)
$c-primary-dark: #575870; //hsl(237,12,39)rgb(87,88,112)
$c-primary-medium: #8f8fa0; //hsl(240,8,59)rgb(143,143,160)
$c-primary-light: #c7c7cf; //hsl(240,7,79)rgb(199,199,207)
$c-primary-lighter: #f4f4f5;//hsl(240,4,95)rgb(244,244,245)

$c-brand: #bc9cff; //hsl(259,100,80)rgb(188,156,255)
$c-accent: #6fcf97; //hsl(144,50,62)rgb(111,207,151)

$c-brand-alpha: rgba(188,156,255, 0.4);
$brand-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$accent-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
