.review {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "image name"
                        "image date"
                        "likes text";
  font-size: 14px;
  column-gap: 9px;
  &__author-image {
    height: 48px;
    width: 48px;
    grid-area: image;
  }
  &__author-name {
    grid-area: name;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 15px;
    font-weight: bold;
    color: #1f2041;
    font-size: 14px;
    text-transform: capitalize;
    align-self: self-end;
  }
  &__date {
    grid-area: date;
    font-size: 14px;
    align-self: self-end;
  }
  &__likes {
    grid-area: likes;
    padding-top: 12px;
    justify-self: center;
  }
  &__text {
    grid-area: text;
    padding-top: 10px;
    @include body-text;
  }
}
