.review {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "image name"
                        "image date"
                        "likes text";
  font-size: 12px;
  column-gap: 9px;
  margin-bottom: 24px;
  &__author-image {
    height: 48px;
    width: 48px;
    grid-area: image;
  }
  &__author-name {
    grid-area: name;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  &__date {
    grid-area: date;
  }
  &__likes {
    grid-area: likes;
    padding-top: 12px;
    justify-self: center;
  }
  &__text {
    grid-area: text;
    padding-top: 11px;
    @include body-text;
    font-size: 12px;
  }
}
