extends ../base/layout
include ../../blocks/search-card/search-card

block title
    title Index Document
block content
    main.index
        +search-card()&attributes({class: 'index__search-card'})
        .index__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
