mixin search-card()
    .search-card
        h2.search-card__title Найдем номера под ваши пожелания
        +field-header({name: 'Прибытие-выезд', noMargin: true})
            +masked-input({placeholder: 'ДД.ММ.ГГ'})
        +field-header({name: 'Гости', noMargin: true})
            +text-field({placeholder: 'Сколько гостей'})
        +button({text: 'Подобрать номер', type: 'wide'})
