@import "../subscription-text-field/subscription-text-field";
.footer {
  display: grid;
  grid-template-columns: minmax(260px, 1fr) repeat(3, 1fr) minmax(260px, 1fr);
  column-gap: 40px;
  justify-content: space-between;
  background-color: white;
  padding: 100px 140px;
  border-top: 1px solid $c-primary-light;
  @media (max-width: 1024px) {
    padding: 120px 0 140px 0;
    grid-template-columns: 100%;
    justify-items: center;
    column-gap: 0;
  }
    &__logo {
    margin-top: 0;
    margin-bottom: 18px;
  }
  &__description {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__column {
    padding-top: 5px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__nav-heading {
    @include label-font;
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 15px;
    &:hover, &:active, &:focus {
      color:$c-primary-dark;
    }
  }
  &__heading-nav-link {
    text-decoration: none;
    color: $c-primary-medium;
  }
  &__nav-list {
    list-style: none;
  }
  &__nav-item {
    margin-bottom: 14px;
  }
  &__nav-link {
    text-decoration: none;
    @include body-text;
    line-height: 17px;
    color: $c-primary-medium;
  }
  &__subscription-heading {
    cursor: pointer;
    @include label-font;
    margin-bottom: 17px;
    &:hover, &:active, &:focus {
      color:$c-primary-dark;
    }
  }
  &__subscription-text {
    color:$c-primary-medium;
    margin-bottom: 23px;
  }
  &__subscription-field {
    margin-top: 20px;
  }
  &__bottom {
    grid-column: 1 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22.5px 140px;
    border-top: 1px solid $c-primary-light;
    background-color: white;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0;
      border-top: none;
    }
  }
  &__social-icons {
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }
  &__social-icon {
    margin-left: 20px;
   @media (max-width: 1024px) {
     &:first-child {
       margin-left: 0;
     }
   }
  }
}
