@import "src/styles/_variables";
@import "src/styles/_base";

@import "src/blocks/ui-page/ui-page";
@import "src/blocks/color-sample/color-sample";
@import "src/blocks/type-samples/type-samples";
@import "src/blocks/header/header";
@import "src/blocks/footer/footer";
@import "src/blocks/field-header/field-header";
@import "src/blocks/text-input/text-input";
@import "src/blocks/masked-input/masked-input";
@import "src/blocks/dropdown/dropdown";
@import "src/blocks/stepper/stepper";
@import "src/blocks/checkbox/checkbox";
@import "src/blocks/radiobutton/radiobutton";
@import "src/blocks/rate-button/rate-button";
@import "src/blocks/like-button/like-button";
@import "src/blocks/range-slider/range-slider";
@import "src/blocks/toggle/toggle";
@import "src/blocks/subscription-text-field/subscription-text-field";
@import "src/blocks/button/button";
@import "src/blocks/pagination/pagination";
@import "src/blocks/bullet-list/bullet-list";
@import "src/blocks/details-list/details-list";
@import "src/blocks/review/review";
@import "src/blocks/expandable-checkbox-list/expandable-checkbox-list";
@import "src/blocks/registration-card/registration-card";
@import "src/blocks/login-card/login-card";
@import "src/blocks/search-card/search-card";
@import "src/blocks/booking-card/booking-card";
@import "src/blocks/room-details/room-details";
@import "src/blocks/calendar-card/calendar-card";
@import "src/blocks/date-filter/date-filter";
@import "src/blocks/checkbox-list/checkbox-list";
@import "src/blocks/slider/slider";

body {
  background-color: #e5e5e5;
}
.form-elements {
  padding-left: 140px;
  padding-right: 140px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 100px;
  display: grid;
  &__column {
    &_wide {
      max-width: 320px;
    }
    &_narrow {
      padding-left: 50px;
    }
  }
  &__item {
    &_small-margin {
      margin-bottom: 20px;
    }
    &_medium-margin {
      margin-bottom: 25px;
    }
  }
}

.ui-kit {
  &__radio-heading,
  &__rate-heading,
  &__like-heading,
  &__toggle-heading {
    width: 100%;
    @include flex-row;
    @include label-font;
    margin-bottom: 12px;
  }
  &__like-heading {
    line-height: 21px;
  }
  &__rate-heading {
    margin-bottom: 17px;
  }
  &__like-buttons {
    @include flex-row;
    justify-content: initial;
  }
  &__like-button {
    margin-right: 10px;
  }
  &__rate-buttons {
    display: flex;
    flex-direction: row;
  }
  &__rate-button {
    margin-right: 21px;
  }
}
.ui-page {
  &__narrow-column {
    width: 266px;
  }
  &__column_left-padding {
    padding-left:26px;
  }
  &__item {
    margin-bottom: 40px;
    &_no-margin {
      margin-bottom: 0;
    }
    &_medium-margin {
      margin-bottom: 23px;
    }
    &_ml-margin {
      margin-bottom: 50px;
    }
    &_large-margin {
      margin-bottom: 98px;
    }
    &_xl-margin {
      margin-bottom: 170px;
    }
    &_xxl-margin {
      margin-bottom: 256px;
    }
  }

  &__card {
    margin-bottom: 43px;
  }
  &__slider {
    margin-bottom: 40px;
  }
  &__button-row {
    display: flex;
    flex-direction: row;
  }
  &__heading {
    @include label-font;
    @include flex-row;
    line-height: 21px;
    margin-bottom: 13px;
    &_no-margin {
      @include flex-row;
      @include label-font;
      line-height: 23px;
    }
  }
  &__button-row {
    margin-bottom: 30px;
  }
  &__left-button {
    margin-right: 20px;
  }
}

