extends ../base/base
include ../../blocks/button/button

block variables
    - let pages = [{'title' : 'Colors and Typography'}, {'title': 'Form Elements'}]

block content
    h1 UI KIT
    a(href='index.html') index
    .pages =pages
    each page in pages
        block page
            block header
                .logo logo
            block page-content
                =page.title
                +button({ text: 'button', type : 'contained' })

