extends ../base/base

include ../../blocks/ui-page/ui-page

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/field-header/field-header
include ../../blocks/text-input/text-input
include ../../blocks/masked-input/masked-input
include ../../blocks/dropdown/dropdown
include ../../blocks/stepper/stepper
include ../../blocks/checkbox/checkbox
include ../../blocks/radiobutton/radiobutton
include ../../blocks/rate-button/rate-button
include ../../blocks/like-button/like-button
include ../../blocks/toggle/toggle
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/details-list/details-list
include ../../blocks/review/review
include ../../blocks/date-filter/date-filter
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/registration-card/registration-card
include ../../blocks/login-card/login-card
include ../../blocks/search-card/search-card
include ../../blocks/booking-card/booking-card
include ../../blocks/room-details/room-details
include ../../blocks/calendar-card/calendar-card
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/slider/slider


block content
    - const { colors, typeValues, guestDropdown, conveniencesDropdown } = require('./data.json')
    - let placeholder, items, values
    h1 UI KIT
    a(href='index.html') index
    h2 Contents
    -
        const uiKitItems = [
            {title: 'Colors & Types', link: 'colors_and_types.html'},
            {title: 'Form Elements', link: 'form_elements.html'},
            {title: 'Cards', link: 'cards.html'},
            {title: 'Headers & Footers', link: 'headers_and_footers.html'},
        ]
    ul.ui-kit__contents
        each item in uiKitItems
            li.ui-kit__item
                a.ui-kit__item-link(href=item.link)=item.title

    h2.ui-kit__page-title Headers and Footers
    +ui-page({fullWidth:true})
        .ui-page__item.ui-page__item
            +header()
        .ui-page__item
            +header({loggedIn: true, name: 'Юлий Цезарь'})
        .ui-page__item
            +footer()

