extends ../base/base
include ../../blocks/ui-page/ui-page
include ../../blocks/color-sample/color-sample
include ../../blocks/type-samples/type-samples
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/field-header/field-header
include ../../blocks/text-field/text-field
include ../../blocks/masked-input/masked-input
include ../../blocks/dropdown/dropdown
include ../../blocks/stepper/stepper
include ../../blocks/checkbox/checkbox
include ../../blocks/radiobutton/radiobutton
include ../../blocks/rate-button/rate-button
include ../../blocks/like-button/like-button
include ../../blocks/range-slider/range-slider
include ../../blocks/toggle/toggle
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/details-list/details-list
include ../../blocks/review/review
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/registration-card/registration-card
include ../../blocks/login-card/login-card
include ../../blocks/search-card/search-card
include ../../blocks/booking-card/booking-card
include ../../blocks/room-details/room-details
include ../../blocks/calendar-card/calendar-card


block content
    -
        const colors = [
            {
                name: "Dark Shade 100%",
                code: "#1F2041",
                variable: "c-darker"
            },
            {
                name: "Dark Shade 75%",
                code: "#1F2041",
                variable: "c-dark"
            },
            {
                name: "Dark Shade 50%",
                code: "#1F2041",
                variable: "c-medium"
            },
            {
                name: "Dark Shade 25%",
                code: "#1F2041",
                variable: "c-light"
            },
            {
                name: "Dark Shade 5%",
                code: "#1F2041",
                variable: "c-lighter"
            },
            {
                name: "Purple",
                code: "#BC9CFF",
                variable: "c-brand"
            },
            {
                name: "Green",
                code: "#6FCF97",
                variable: "c-accent"
            }
        ]
    -
        const typeValues = [
                    {
                        tag: 'H1',
                        text: "This one is the sub-section or widget title",
                        font: "title"
                    },
                    {
                        tag: 'H2',
                        text: "Next one is the item title inside widgets",
                        font: "subtitle"
                    },
                    {
                        tag: 'H3',
                        text: "THIS IS A LABEL OR CTA TEXT",
                        font: "label-text"
                    },
                    {
                        tag: 'Body',
                        text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
                        font: "body-text"
                    }
                ]
    h1 UI KIT
    a(href='index.html') index
    p.ui-page__title Colors and Typography
        +ui-page({withBackground: true})
            .ui-page__column.colors-block
                each c in colors
                    +color-sample({color: c})
            .ui-page__column.typography
                +type-samples({typography: typeValues})
    p.ui-page__title Form Elements
        +ui-page({withBackground: true})
            .ui-page__column
                .ui-page__item
                    +field-header({name: 'text field', status: 'default', noMargin: true})
                        +text-field({placeholder: 'Email'})
                .ui-page__item
                    +field-header({name: 'dropdown', status: 'default', noMargin: true})
                        +dropdown({placeholder: 'Сколько гостей',items: ['item1', 'item2']})
                .ui-page__item
                    +field-header({name: 'masked field', noMargin: true})
                        +masked-input({placeholder: 'ДД.ММ.ГГ'})
                .ui-page__item
                    +field-header({name: 'date dropdown', noMargin: true})
                        +text-field({placeholder: 'ДД.ММ.ГГ'})
                .ui-page__item
                    +field-header({name: 'filter date dropdown', noMargin: true})
                        +text-field({placeholder: '19 авг - 23 авг'})
                .ui-page__item
                    +field-header({name: 'subscription text field', status: 'default', noMargin: true})
                        +subscription-text-field()
                .ui-page__item
                    +field-header({name: 'dropdown', status: 'default', noMargin: true})
                        +subscription-text-field()
                .ui-page__item
                    +field-header({name: '', status: '', noMargin: true})
                        +expandable-checkbox-list({title: 'expandable checkbox list', items: ['завтрак','письменный стол','стул для кормления'
                        ]})
                .ui-page__item
                    +field-header({name: '', status: '', noMargin: true})
                        +details-list({items:[
                            {icon: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'},
                            {icon: 'location_city', title: 'Удобство', text: 'Окно в каждой комнате'},
                            ]})
                .ui-page__item
                    +review({authorImg: 'user1.png'})
            .ui-page__column
                .ui-page__item
                    +field-header({name: 'checkbox buttons'})
                        +checkbox({text: 'Можно курить', name: 'smokingAllowed'})
                        +checkbox({text: 'Можно с питомцами', name: 'petsAllowed', defaultValue: true})
                        +checkbox({text: 'Можно пригласить гостей (до 10 человек)', name: 'guestsAllowed', defaultValue: true})
                .ui-page__item
                    +field-header({name: 'radiobuttons'})
                        +radiobutton({name: 'gender', options: ['Мужчина', 'Женщина']})
                .ui-page__item
                    +field-header({name: 'toggle'})
                        +toggle({label: 'Получать спецпредложения', name: 'subscriptionChecked'})
                        +toggle({
                            label: 'Получать спецпредложения',
                            name: 'subscriptionChecked',
                            defaultValue: true})
                .ui-page__item
                    +field-header({name: 'like button'})&attributes({class: 'row'})
                        +like-button({value:0})
                        +like-button({value:11, defaultValue:true})
                .ui-page__item
                    +field-header({name: 'rate button'})
                        +rate-button({rating: 3})
                        +rate-button({rating: 5})
                .ui-page__item
                    +field-header({name: 'rich checkbox buttons'})
                        +checkbox({
                            text: 'Ширина коридоров в номере не менее 91 см.',
                            name: 'hall', header: 'Широкий коридор'})
                        +checkbox({
                            text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                            name: 'helper', header: 'Помощник для инвалидов'})
            .ui-page__column
                .ui-page__item
                    +field-header({name: 'range slider'})
                        +range-slider({text:'range', name: 'range'})
                        +checkbox({text: 'Можно курить', name: 'smokingAllowed'})
                .ui-page__item
                    +field-header({name: 'buttons'})
                        +button({text: 'click me', type: ''})
                        +button({text: 'click me', type: 'outlined'})
                        +button({text: 'click me', type: 'text'})
                        +button({text: 'перейти к оплате', type: 'wide'})
                .ui-page__item
                    +field-header({name: 'pagination'})
                        +pagination({label: 'Получать спецпредложения', name: 'subscriptionChecked'})
                .ui-page__item
                    +field-header({name: 'bullet list'})
                        +bullet-list({items: [
                                'Нельзя с питомцами',
                                'Без вечеринок и мероприятий',
                                'Время прибытия — после 13:00, а выезд до 12:00',
                            ]})


    p.ui-page__title Cards
        +ui-page()
            .ui-page__column.ui-page__column_cards
                .ui-page__card
                    +search-card()
                .ui-page__card
                    +registration-card()
            .ui-page__column
                .ui-page__card
                    +booking-card()
                .ui-page__card
                    +login-card()
            .ui-page__column
                .ui-page__card
                    +calendar-card()
                .ui-page__card
                    +room-details()
                .ui-page__card
                    +room-details()
    p.ui-page__title Headers and Footers
        +ui-page({fullWidth:true})
            .ui-page__item.ui-page__item
                +header()
            .ui-page__item
                +header({loggedIn: true, name: 'Юлий Цезарь'})
            .ui-page__item
                +footer()

