extends ../base/base
include ../../blocks/ui-page/ui-page
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/field-sample/field-sample
include ../../blocks/text-field/text-field
include ../../blocks/dropdown/dropdown
include ../../blocks/stepper/stepper
include ../../blocks/button/button


block variables
    -
        let pages = [{'title' : 'Colors and Typography'},
                    {'title': 'Form Elements'},
                    {'title': 'Cards'},
                    {'title': 'Headers and Footers'}
        ]

block content
    h1 UI KIT
    a(href='index.html') index
    p.ui-page__title=pages[0].title
        +ui-page({withBackground: true})
    p.ui-page__title=pages[1].title
        +ui-page({withBackground: true})
            .ui-page__item
                +field-sample({name: 'text field', status: 'default'})
                    +text-field({placeholder: 'Email'})
            .ui-page__item
                +field-sample({name: 'text field', status: 'hover/ focus'})
                    +text-field({placeholder: 'This is pretty awesome'})
            .ui-page__item
                +field-sample({name: 'dropdown', status: 'default'})
                    +dropdown({placeholder: 'Сколько гостей',items: ['item1', 'item2']})
            .ui-page__item
                +field-sample({name: 'subscription text field', status: 'default'})
                    +subscription-text-field()
    p.ui-page__title=pages[2].title
        +ui-page()
    p.ui-page__title=pages[3].title
        +ui-page({fullWidth:true})
            .ui-page__item
                +header()
            .ui-page__item
                +header({loggedIn: true, name: 'Юлий Цезарь'})
            .ui-page__item
                +footer()

