extends ../base/base
include ../../blocks/button/button
include ../../blocks/ui_page/ui_page

block variables
    -
        let pages = [{'title' : 'Colors and Typography'},
                    {'title': 'Form Elements'},
                    {'title': 'Cards'},
                    {'title': 'Headers and Footers'}
        ]

block content
    h1 UI KIT
    a(href='index.html') index

    each page in pages
        p.ui_page__title=page.title
        +ui_page()
            +button({ text: 'button', type : 'contained' })

