@import "src/blocks/select-option/select-option";
.dropdown {
  position: relative;
  &__input {
    display: flex;
    justify-content: space-between;
    @include input-base;
    &_open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $c-primary-medium;
    }
  }
  &__content {
    color: $c-primary-dark;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 47px;
  }
  &__arrow {
    flex: 0 0 1rem;
    font-size:24px;
    pointer-events: none;
  }
  &__options {
      opacity: 0;
      height: 0;
      transform-origin: top;
      transform: scaleY(0);
      transition: transform 160ms ease, opacity 60ms ease;
      z-index: 0;
    &_open {
      opacity: 1;
      z-index: 1;
      height: auto;
      border: 1px solid $c-primary-medium;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      position: absolute;
      background-color: white;
      width: 100%;
      border-top: none;
      display: block;
      transform: scaleY(1);
      transition: transform 260ms ease, opacity 160ms ease;
    }
  }
  &__option {
    padding: 7px 7px 7px 15px;
  }
  &__buttons {
    @include flex-row;
  }
  &__clear {
    display: block;
    &_disabled > .dropdown__clear-btn{
      display: none;
    }
  }
}
