@import "../../blocks/text-field/text-field";
@import "../../blocks/toggle/toggle";
@import "../../blocks/field-header/field-header";
@import "../../blocks/radiobutton/radiobutton";
@import "../../blocks/masked-input/masked-input";
.registration-card {
  @include card-base;
  &__title {
    margin-bottom: 20px;
  }
  &__item-group {
    margin-bottom: 20px;
  }
  &__item_small-margin {
    margin-bottom: 10px;
  }
  &__item_large-margin {
    margin-bottom: 20px;
  }
  &__item-group:last-child {
    @include flex-row;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
