mixin registration-card()
    .registration-card
        h2.registration-card__title Регистрация аккаунта
        +text-field({placeholder: 'Имя'})
        +text-field({placeholder: 'Фамилия'})
        +radiobutton({name: 'gender', options: ['Мужчина', 'Женщина']})
        +field-header({name: 'Дата рождения', noMargin: true})
            +masked-input({placeholder: 'ДД.ММ.ГГ'})
        +field-header({name: 'данные для входа в сервис', noMargin: true})
            +text-field({placeholder: 'Email'})
            +text-field({placeholder: 'Пароль'})
        +toggle()
        +button({text: 'перейти к оплате', type: 'wide'})
        .registration-card__redirect-row
            p.registration-card__redirect-directions Уже есть аккаунт на Toxin?
            +button({text: 'Войти', type: 'outlined'})&attributes({class: 'registration-card__login-btn'})
