include ../../blocks/header/header
include ../../blocks/footer/footer

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title Base page
    body
        block variables
        +header()
        block content
        +footer()
