mixin masked-input({placeholder = ''} = {})
    - const layoutClass = attributes.class ? ` ${attributes.class}` : ''

    input(
            type='text'
            class=`masked-input${layoutClass}`
            placeholder=placeholder
            )
