include ../logo/logo
mixin ui-page({withBackground=false} = {})
    article.ui-page(class = withBackground ? "ui-page_with-background": "")
        +logo({className:'ui-page__logo', type: 'light'})
        .ui-page__content
            if block
                block


