include ../logo/logo
mixin ui-page({background='gray', pageName=''} = {})
    -
        let classes = background === 'gray' ? "ui-page_gray" : "ui-page_white"
    article.ui-page(class=classes)
        +logo({className:'ui-page__logo', type: 'light'})
        if block
            block
