extends ../base/layout

block title
    title Index Document
block content
    .search-room
        aside.search-room__filter
        main.search-room__results
            h2.search-room__heading Номера, которые мы для вас подобрали
