@import "src/styles/_variables";
@import "src/styles/_base";

@import "src/blocks/header/header";
@import "src/blocks/footer/footer";
@import "src/blocks/date-filter/date-filter";
@import "src/blocks/field-header/field-header";
@import "src/blocks/dropdown/dropdown";
@import "src/blocks/checkbox/checkbox";
@import "src/blocks/room-details/room-details";
@import "src/blocks/expandable-checkbox-list/expandable-checkbox-list";
@import "src/blocks/pagination/pagination";
@import "src/blocks/slider/slider";

.search-room {
  display: grid;
  grid-template-columns: 266px 1fr;
  column-gap: 59px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 30px;
  margin-bottom: 65px;
  @media (max-width: 1200px) {
    padding: 30px 10px;
    column-gap: 3vh;
  }
  @media (max-width: 575px) {
    grid-template-columns: 100%;
    column-gap: 0;
  }
  &__heading {
    @include title-font;
    margin-bottom: 20px;
  }
  &__filter {
    max-width: 266px;
    display: flex;
    flex-direction: column;
  }
  &__filter-header {
    @include label-font;
    margin-bottom: 16px;
  }
  &__guests-dropdown {
    margin-bottom: 30px;
  }
  &__slider {
    margin-bottom: 30px;
  }
  &__amenities-filter {
    max-width: 244px;
    margin-bottom: 20px;
  }
  &__accessibility-filter {
    margin-bottom: 16px;
  }
  &__conveniences-filter {
    margin-bottom: 28px;
  }
  &__checkbox_wide {
    max-width: 254px;
  }
  &__checkbox_narrow {
    max-width: 230px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: flex-start;
    justify-items: stretch;
    row-gap: 22px;
    column-gap: 12px;
  }
  &__pagination {
    margin-top: 40px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
  }
}
