@import "src/styles/_variables";
@import "src/styles/_base";

@import "src/blocks/header/header";
@import "src/blocks/footer/footer";
@import "src/blocks/date-filter/date-filter";
@import "src/blocks/field-header/field-header";
@import "src/blocks/dropdown/dropdown";
@import "src/blocks/checkbox/checkbox";
@import "src/blocks/room-details/room-details";
@import "src/blocks/expandable-checkbox-list/expandable-checkbox-list";
@import "src/blocks/pagination/pagination";

.search-room {
  display: grid;
  grid-template-columns: 266px 1fr;
  column-gap: 60px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 30px;
  @media (max-width: 1200px) {
    padding: 30px 10px;
  }
  @media (max-width: 575px) {
    grid-template-columns: 100%;
    column-gap: 0;
  }
  &__heading {
    @include title-font;
    margin-bottom: 20px;
  }
  &__filter {
    max-width: 266px;
    display: flex;
    flex-direction: column;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 20px;
    column-gap: 12px;
    justify-items: center;
  }
  &__pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}
