.text-input {
  &__labels {
    width: 100%;
    @include flex-row;
    @include label-font;
    margin-bottom: 5px;
  }
  &__status {
    font-weight: normal;
  }
  &__input {
    color: $c-primary-dark;
    @include input-base;
    width: calc(100% - var(--horizontal-padding)*2);
    &_hovered {
        border-color: $c-primary-medium;
        border-width: 1px;
        outline: none;
        &::placeholder {
          color: $c-primary-dark;
        }
    }
  }
}
