@import "../button/button";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 140px;
  position: relative;
  @media (max-width: 1024px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__nav {
    display: flex;
    align-items: inherit;
    @media (max-width: 1024px) {
      display: none;
      position: absolute;
      flex-direction: column;
      height: auto;
      background: white;
      z-index: 1;
      top: 70px;
      right: 0;
    }
  }
  &__nav-opener {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      &:checked {
        color: red;
        &+.header__nav {
          display: flex;
        }
    }
    }

  }
  &__navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__navlink {
    padding-left: 20px;
    cursor: pointer;
    display: inline-flex;
    &_expandable {
      &::after{
        content: 'expand_more';
        font-family: 'Material Icons', sans-serif;
        font-size: 24px;
      }
    }
  }
  &__button {
    margin-left: 20px;
  }
  &__profile-link {
    margin-left: 22px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $c-primary-ten;
      width: 1px;
      height: 30px;
      top: 0;
      left: 0;
    }
  }
}
