@import "src/blocks/rate-button/rate-button";
.room-details {
  @include card-base;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  //max-width: 270px;
  width: 100%;
  padding:0;

  &__image-slideshow {
    height: 151px;
    overflow: hidden;
    position: relative;
  }
  &__image {
    object-fit: cover;
    width: 100%;
  }
  &__slideshow_buttons {
    position: absolute;
    right: 14px;
    bottom: 14px;
    display: flex;
    flex-direction: row;
  }
  &__slideshow_button {
    border: 1px solid white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
    &_active {
      background: white;
    }
  }
  &__description {
    padding: 20px 17px 16px 20px;
  }
  &__detail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
    padding-bottom: 6px;
    position: relative;
    &::after {
    content: '';
    background: $c-primary-ten;
    height: 1px;
    position:absolute;
    bottom: 0;
    width: 100%;
    }
  }
  &__room {
    font-family: Quicksand, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  &__no {
    font-size: 19px;
    padding-left: 5px;
    padding-right: 6px;
  }
  &__lux {
    font-family: "Montserrat", 'sans-serif';
    font-size: 12px;
    text-transform: uppercase;
  }
  &__price {
    font-size: 12px;
    line-height: 30px;
  }
  &__amount {
    font-weight: bold;
    padding-right: 4px;
    font-size: 15px;

  }
  &__rating-row {
    @include flex-row;
  }
  &__reviews {
    margin-right: 3px;
    line-height: 28px;
  }
  &__review-count {
    padding-right: 5px;
    font-weight: bold;
  }
}
