.field-sample {
  max-width: 320px;

  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    &_no-margin {
      margin-bottom: 0;
    }
  }
  &__name {
    @include label-font;
  }
  &__status {
    @include label-font;
    font-weight: normal;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      margin-right: 20px;
    }
  }

}
